<!-- <div class="login-container">
  <h2>Iniciar sesión</h2>

  <form (ngSubmit)="login()">
    <label>Email:</label>
    <input type="email" [(ngModel)]="email" name="email" required />

    <label>Contraseña:</label>
    <input type="password" [(ngModel)]="password" name="password" required />

    <button type="submit">Ingresar</button>
  </form>

  <p class="message">{{ message }}</p>

  <p>
    ¿No tienes cuenta?
    <a routerLink="/register">Regístrate aquí</a>
  </p>
</div> -->


<!-- PRIMER COMMIT <h2>Iniciar sesión</h2>
<form (ngSubmit)="onLogin()">
  <label>Email:</label>
  <input type="email" [(ngModel)]="email" name="email" required />

  <label>Contraseña:</label>
  <input type="password" [(ngModel)]="password" name="password" required />

  <button type="submit">Ingresar</button>
</form> -->

<form (ngSubmit)="onLogin()">
  <input type="email" [(ngModel)]="email" name="email" placeholder="Correo" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />
  <button type="submit">Iniciar sesión</button>
</form>

<div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
  {{ errorMessage }}
</div>
