<nav class="navbar">
  <h1>{{ title }}</h1>
  <ul class="menu">
    <li><a routerLink="/">Inicio</a></li>
    <li *ngIf="isLoggedIn() && hasRole(['admin','user'])">
      <a routerLink="/citas">Citas</a>
    </li>
    <li *ngIf="hasRole(['admin', 'doctor'])">
      <a routerLink="/pacientes">Pacientes</a>
    </li>
    <li *ngIf="isLoggedIn() && hasRole(['user','admin'])"><a routerLink="/mis-citas">Mis citas</a></li>
    <li *ngIf="isLoggedIn()"><a routerLink="/perfil">Mi perfil</a></li>
    <li *ngIf="isLoggedIn()"><a (click)="logout()" style="cursor:pointer;">Salir</a></li>
  </ul>
</nav>