<!-- <div class="pacientes-container">

  <h2>Mis Pacientes</h2>
  <p class="subtitle">Pacientes con citas activas</p>

  <div *ngIf="pacientes.length === 0" class="empty">
    No tienes pacientes con citas activas.
  </div>

  <table *ngIf="pacientes.length > 0">
    <thead>
      <tr>
        <th>Paciente</th>
        <th>Correo</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of pacientes">
        <td>{{ p.paciente }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.fecha }}</td>
        <td>{{ p.hora.slice(0,5) }}</td>
      </tr>
    </tbody>
  </table>

</div> -->
